* {
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: #eee;
  height: 100vh;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row {
  width: 100%;
  text-align: center;
}
.col {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 3px solid #222;
}
.colorCount {
  margin: 2px;
}
#button {
  margin-top: 8px;
  padding: 0 11px 0 11px;
  background: linear-gradient(#8ce, #6ac);
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid black;
  border-radius: 6px;
}
#button:hover {
  background: linear-gradient(#6ac, #48a);
}
.green {
  color: #3c3;
}
.red{
  color: #d12;
}
.blue {
  color: #22f;
}
.yellow {
  color: #ff4;
}
